@charset "UTF-8";

body{
	color: blue;
}

h3{
	
}

td.left{
	background: silver;
}

td:hover{
	background: skyblue;
}
button{
	background: gold; 
}
input{
	width: 150px;
}

li{
	list-style: none;
	float: left;
	padding: 15px;
	width: 100px;
	height: 50px;
	text-align: center;
	/* background: orange; */
}
li:first-child{
	border-radius: 40px 0 0 40px;
}
li:nth-child(2n){
	background: orange;
}
li:nth-child(2n+1){
	background: olive;
}
li:last-child{
	border-radius: 0 40px 40px 0;
}

a{ /* 기본선택자 : 태그, 아이디, 클래스 */
	text-decoration: none;	
}
a:active{
	
}
a:visited{ /* 마우스를 클릭하고 나서  */
	color: blue;
}
a:hover{/* 마우스를 올렸을 때 : 가상선택자 */
	background: skyblue;
	color: white;
}

#total{
	width: 800px;
	height: 800px;
	background-image: url(../img/back.png)	
}
#top{
	width: 800px;
	height: 100px;
	background: teal;
}
#top2{
	width: 250px;
	height: 100px;
	background: black;
	color: yellow;
	top: 5px;
	right: 5px;
	position: fixed;
	border-top: 10px solid aqua;
	border-bottom: 10px double white;
	box-shadow: 10px 10px yellow;
	border-radius: 100px 10px;
}
#center{
	font-size: 20px;
	font-weight: bold;
}